@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
html
{
    font-family: Montserrat, sans-serif;
    background-color: #303030;
    color:#fff;
    scroll-behavior: smooth;
}


*
{
padding: 0;
margin: 0;
box-sizing: border-box;

}

a
{
text-decoration: none;
}
.container
{
    max-width: 100% !important;
    overflow-x: hidden !important;
   min-height: 100vh;
  
   display:flex;
   align-items: center;
   justify-content: center; 
}
img
{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 3%;
}
p
{
    font-size: 1.4rem;
color: black;
text-align: left;
line-height: 2.5rem;
margin-top: 5px;
letter-spacing: .05rem;
}
.brand h1
{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span
{
   
    color: yellow;
}
/* Header */
#header
{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
  
}
#header .header
{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
}
#header .nav-bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul
{
    list-style: none;
    position: absolute;
    background-color: rgba(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left:100%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .3s ease left;
}
#header .nav-list ul.active
{
    left:0;
}
#header .nav-bar img
{
    width: 25%;
    height: 25%;
    margin: 10px;
    filter: brightness(70%);
}

#header .nav-list ul a
{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after
{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after
{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing:initial
}
#header .nav-list ul li:hover a
{
    color: yellow;
}
#header .hamburger
{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index:100;
    transform: scale(.8);
    margin-right:20px
}
#header .hamburger:after
{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar
{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before
{
content: "";
position: absolute;
height: 100%;
width: 100%;
left: 0;
background-color: white;
transition: .3s ease;transition-property: top, bottom;
}
#header .hamburger .bar::after
{
    top: 8px;
}
#header .hamburger .bar::before
{
   bottom: 8px;
}
#header .hamburger.active .bar::before
{ 
    bottom:0;
}
#header .hamburger.active .bar::after
{
    top: 0;
}
.brand
{
    width: auto;
}
/* End Header */
/* HomePage */

#home
{
    background-image: url(./img/home.jpg);
    background-size: cover;
    background-position: top center;
    background-position-y: 40%;
    position: relative;
    z-index: 1;
    
}
#home::after
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#home .home
{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#home h1
{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#home h1:nth-child(1)
{
    animation-delay: 1s;
}
#home h1:nth-child(2)
{
    animation-delay: 2s;
}
#home h1:nth-child(3)
{
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
    
}
#home h1 span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: yellow;
    animation: text_reveal_box 1s ease;
    animation-delay: 3s;
}
#home h1:nth-child(1) span
{
    animation-delay: 0.5s;
}
#home h1:nth-child(2) span
{
    animation-delay: 1.5s;
}
#home h1:nth-child(3) span
{
    animation-delay: 2.5s;
}

.portfolio
{
    display: inline-block;
    padding: 10px 30px;
    color:yellow;
    background-color: transparent;
    border: 2px solid yellow;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color,color;
    margin-bottom: 30px;  
    border-radius: 10px;
}
.portfolio:hover
{
    color:black;
    background-color: yellow;
}
.cta
{
    display: inline-block;
    padding: 10px 30px;
    color:yellow;
    background-color: transparent;
    border: 2px solid yellow;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color,color;
    margin-bottom: 30px;
}
.cta:hover
{
    color:black;
    background-color: yellow;
}

/* End HomePage */

/* KeyFrames */
@keyframes hamburger_puls
{
    0%
    {
        opacity: 1;
        transform: scale(1);
    }
    100%
    {
        opacity: 0;
        transform: scale(1.5);
    }
}
@keyframes text_reveal_box
{
    50%
    {
        width:100%;
        left: 0;

    }
    100%
    {
        width:0%;
        left: 100%;
        
    }
}
@keyframes text_reveal
{
    100%
    {
        color:#fff
    }
}
@keyframes text_reveal_name
{
    100%
    {
        color:yellow;
        font-weight: 700;
    }
}

/* End KeyFrames */

/* AboutMe */

#about .about
{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left
{
    width: 250px;
    height: 360px;
}
#about .col-right
{
    width: 100%;
}
#about .col-right h1
{
    font-size: 5rem;
}
#about .col-right p
{
    margin-bottom: 20px;
    color: black;
    font-weight: 300;
    background-color: wheat;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    justify-content: center;
}
#about .col-right p:hover
{
    
    background-color: rgb(245, 211, 149);
   
}
#about .col-right .cta
{
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img
{
    
    height: 100%;
    width: 100%;
    position: relative;
    border: 15px solid #303030;
   
}
#about .col-left .about-img::after
{
    content:"";
    position: absolute;
    left:-33px;
    top:19px;
    height:98%;
    width: 98%;
    border: 7px solid yellow;
    z-index: -1;
    border-radius: 3%;
}
/* End About Me */

/* Education */
#education .education-top 
{
	max-width: 500px;
	margin: 0 auto;
}
#education .education
{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin:0 auto;
    padding: 100px 0;
}
.section-title
{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    color: #fff;
}
#education .section-title
{
    font-size: 2.7rem;
    font-weight: 300;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    color: #fff;
}
.section-title span
{
    color: yellow;
}
#education .education-bottom 
{
   display:flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 50px;
}
#education .education-item 
{
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-color: wheat;
  background-size: cover;
  margin: 10px 5%;
  color: black;
  position: relative;
  z-index: 1;
  overflow:hidden;
 
}
#education .education-item:hover
{
    background-color: blanchedalmond;
}
#education .education-bottom .icon
{
height: 80px;
width: 80px;
margin-bottom: 20px;
}
#education .education-item h2
{
font-size: 1.5rem;
color: black;
margin-bottom: 10px;
text-transform: uppercase;

}
#education .education-item p {
	color: black;
	text-align: left;
}
/* End Education */

/* Contact */
#contact .contact
{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    width: 90%;
}

#contact .contact-item
{
    width:100%;
    text-align: center;
    border-radius: 10x;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s ease box-shadow;
    background-color: wheat;
    color: black;
    border-radius: 10px;
}
#contact .contact-item:hover
{
    background-color: blanchedalmond;
}
#contact .icon
{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1
{
    font-size: 2.5rem;
    font-weight: 500;
    

}
#contact .contact-info h2
{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
    
    
}
#contact .contact-items
{
    width: 100%;
}
/* End Contact */

/* Footer */
#footer
{
    background-image: 
    linear-gradient(60deg, #000000 0%, #2f2e2f 100%);
    color: white;
}
#footer .footer
{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
   
}
#footer h2
{
   color: white;
   font-weight: 500;
   font-size: 1.8rem;
   letter-spacing: .1rem;
   margin-top: 10px;
   margin-bottom: 10px;
}
#footer .social-icon
{
   display: flex;
   margin-bottom: 30px;  
}
#footer .social-item
{
  height: 50px;
  width: 50px;
  margin: 20px;

}
#footer p
{
    color: white;
    font-size: 1.3rem;
    padding: 20px;
}
.footer h2 span
{
   
    color: yellow
}
/* End Footer */

/* Media Query for Tablet */
@media only screen and (min-width:768px)
{
    .cta
    {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title
    {
        font-size: 6rem;
    }
    /* Home */
    #home h1
    {
        font-size: 4rem;
    }
    /* End Home */

    /*About */
    #about .about
    {
        flex-direction: column;
    }
    #about .col-left
    {
        width: 950px;
        height: 550px;
        padding-left: 60px;
        margin-right: 30px;
        
    }
    #about .about .col-left .about-img::after
    {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid yellow;
    }
    #about .col-right
    {
        text-align: center;
        padding: 30px;
    }
    #about .col-right h1
    {
        text-align: center;
    }
    /* End About */

    /* Education */
    #education .education-bottom .education-item
    {
        flex-basis: 45%;
        margin: 2.5%;
        height: 400px;
        text-align: center;
        justify-content: center;
    }
    /* End Education */

    /* contact */
#contact .contact
{
    flex-direction:  column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}
#contact .contact-items
{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    margin-bottom: 150px;
}
#contact .contact-item
{
    margin: 2.5%;
}
#contact .contact-item .icon img
{
    object-fit: contain;
}
#contact .contact-item .contact-info
{
    width: 100%;
    text-align: center;
}
    /* end contact */
}
/* End Media Query for Tablet*/

/* Media Query for Desktop*/

@media only screen and (min-width:1200px)
{
    #header .hamburger
    {
        display: none;
    }

    #header .nav-list ul
    {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;

    }
    #header .nav-list ul li
    {
       display: inline-block
    }
    #header .nav-list ul li a
    {
       font-size: 1.8rem;
       
    }
    #header .nav-list ul a:after
    {
        display: none;
    }

    #education .education-bottom .education
    {
    flex-basis: 22%;
    margin: 1.5%;
    }
    #education .education-item
    {
    width: 800px;
    }
    #contact .contact
    {
        padding: 200px 0;
    }
    #contact .contact-items
    {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
    margin-bottom: 150px;
    }
    #about .col-left .about-img
    {
    
    height: 80%;
    width: 90%;
    position: relative;
    border: 15px solid #303030;
    margin: 0 auto;
    }
    #about .about
    {
        flex-direction: row;
    }
    #education .section-title
{
    font-size: 5rem;
    margin-top: 30px;
    
}
#home h1
{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    margin-left: 100px;
}
.portfolio
{
    display: inline-block;
    padding: 10px 30px;
    color:yellow;
    background-color: transparent;
    border: 2px solid yellow;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color,color;
    margin-bottom: 30px;  
    border-radius: 10px;
    margin-left: 100px;
}
#header .nav-bar .brand::after
{
    content:"";
    position: absolute;
    left:323px;
    top:15px;
    height:78%;
    width: 3.6%;
    border: 3px solid yellow;
    z-index: -1;
    border-radius: 3%;
}
}

/* End Media Query for Desktop  */